<app-header></app-header>

<br>

<div class="row">
<div class="col l4 s12 conceptos">
    <a class="waves-effect waves-light btn"><i class="material-icons right">add</i>NUEVO CONCEPTO</a>
  <ul class="collapsible" data-collapsible="accordion">
    
    <li>
        <div class="collapsible-header">
                
                <a class="dropdown not-collapse" data-activates='dropdown0'><i class="material-icons prefix">more_vert</i></a>
                
                <span>FIRST</span>
                <ul id='dropdown0' class='dropdown-content'>
                        <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                        <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                    </ul>
        
        </div>
            
        <div class="collapsible-body">
            
          <div class="row">
              <div class="col s11">
                  
                <div class="input-field">
                        <a class="dropdown prefix" href='#' data-activates='dropdown1'><i class="material-icons prefix">more_vert</i></a>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                            <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                        </ul>
                        <input id="name" type="text" class="validate">
                        <label for="name">Definicion</label>
                </div>
                <div class="input-field">
                        <a class="dropdown prefix" href='#' data-activates='dropdown2'><i class="material-icons prefix">more_vert</i></a>
                        <ul id='dropdown2' class='dropdown-content'>
                            <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                            <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                        </ul>
                        <input id="name" type="text" class="validate">
                        <label for="name">Caracteristica</label>
                </div>
              </div>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                            <a class="dropdown prefix" href='#' data-activates='dropdown3'><i class="material-icons prefix">more_vert</i></a>
                            <ul id='dropdown3' class='dropdown-content'>
                                <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                                <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                            </ul>
                        <select>
                            <option value="" disabled selected>Tipo</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Relacion</label>
                    </div>

                </div>
                    <div class="col s5">
                        <div class="input-field">
                            <select>
                                <option value="" disabled selected>Concepto</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Concepto</label>
                            </div>
                    </div>
            </div>
          </div>
        </div>
    </li>
          
  </ul>
</div>

<div class="col l8 s12 contenido">
        <a class="waves-effect waves-light btn"><i class="material-icons right">playlist_add_check</i>GENERAR TEST</a>
    <simple-tiny
    [elementId]="'my-editor-id'" >
    </simple-tiny>

</div>

</div>

<app-footer></app-footer>
