<app-header></app-header>

<br>

<div class="row">
<div class="col l5 s12 conceptos">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">text_format</i>First</div>
        <div class="collapsible-body">
          <div class="row">
              <div class="col s11">
                  <ul id="tabs-swipe-demo" class="tabs">
                      <li class="tab col s4"><a class="active" href="#test-swipe-1">Definiciones</a></li>
                      <li class="tab col s4"><a href="#test-swipe-2">Detalles</a></li>
                      <li class="tab col s4"><a href="#test-swipe-3">Relaciones</a></li>
                    </ul>
                    <div  id="test-swipe-1" class="col s12">
                        <div class="input-field">
                            <a class="dropdown prefix" href='#' data-activates='dropdown'><i class="material-icons prefix">more_vert</i></a>
                            <ul id='dropdown' class='dropdown-content'>
                                <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                                <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                            </ul>
                            <input id="name" type="text" class="validate">
                            <label for="name">Definicion</label>
                        </div>
                    </div>
                    <div  id="test-swipe-2" class="col s12">
                        <div class="input-field">
                            <a class="dropdown prefix" href='#' data-activates='dropdown2'><i class="material-icons prefix">more_vert</i></a>
                            <ul id='dropdown2' class='dropdown-content'>
                                <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                                <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                            </ul>
                            <input id="name" type="text" class="validate">
                            <label for="name">Caracteristicas</label>
                        </div>
                    </div>
                    <div  id="test-swipe-3" class="col s12">
                      <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <select>
                                  <option value="" disabled selected>Choose your option</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                                <label>Materialize Multiple Select</label>
                              </div>

                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <select>
                                  <option value="" disabled selected>Choose your option</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                                <label>Materialize Multiple Select</label>
                              </div>
                        </div>
                      </div>
                        
                    </div>
              </div>
          </div>
        </div>
    </li>


    <li>
        <div class="collapsible-header"><i class="material-icons">text_format</i>First</div>
        <div class="collapsible-body">
          <div class="row">
              <div class="col s11">
                  <ul id="tabs-swipe-demo" class="tabs">
                      <li class="tab col s4"><a class="active" href="#test-swipe-4">Definiciones</a></li>
                      <li class="tab col s4"><a href="#test-swipe-5">Detalles</a></li>
                      <li class="tab col s4"><a href="#test-swipe-6">Relaciones</a></li>
                    </ul>
                    <div  id="test-swipe-4" class="col s12">
                        <div class="input-field">
                            <a class="dropdown prefix" href='#' data-activates='dropdown1'><i class="material-icons prefix">more_vert</i></a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                                <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                            </ul>
                            <input id="name" type="text" class="validate">
                            <label for="name">Definicion</label>
                        </div>
                    </div>
                    <div  id="test-swipe-5" class="col s12">
                        <div class="input-field">
                            <a class="dropdown prefix" href='#' data-activates='dropdown2'><i class="material-icons prefix">more_vert</i></a>
                            <ul id='dropdown2' class='dropdown-content'>
                                <li><a href="#!"><i class="material-icons">filter_none</i>Expandir</a></li>
                                <li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
                            </ul>
                            <input id="name" type="text" class="validate">
                            <label for="name">Caracteristicas</label>
                        </div>
                    </div>
                    <div  id="test-swipe-6" class="col s12">
                      <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <select>
                                  <option value="" disabled selected>Choose your option</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                                <label>Materialize Multiple Select</label>
                              </div>

                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <select>
                                  <option value="" disabled selected>Choose your option</option>
                                  <option value="1">Option 1</option>
                                  <option value="2">Option 2</option>
                                  <option value="3">Option 3</option>
                                </select>
                                <label>Materialize Multiple Select</label>
                              </div>
                        </div>
                      </div>
                        
                    </div>
              </div>
          </div>
        </div>
    </li>

    

      
  </ul>
</div>

<div class="col l6 s12">
    <simple-tiny
    [elementId]="'my-editor-id'"
    (onEditorKeyup)="keyupHandlerFunction($event)"
    >
  </simple-tiny>

</div>

</div>

<app-footer></app-footer>
