<app-header></app-header>

<br>

<div class="row">
    <div class="col l4 s12 conceptos">

        <a class="waves-effect waves-light btn"><i class="material-icons right">add</i>NUEVO CONCEPTO</a>
        <app-concepto></app-concepto>

    </div>

    <div class="col l8 s12 contenido">
        <a class="waves-effect waves-light btn"><i class="material-icons right">playlist_add_check</i>GENERAR TEST</a>
        <app-tiny [elementId]="'my-editor-id'"> </app-tiny>
    </div>

</div>

<app-footer></app-footer>
