<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header">

			<a class="dropdown not-collapse" data-activates='dropdown0'>
				<i class="material-icons prefix">menu</i>
			</a>

			<span>FIRST</span>

			<ul id='dropdown0' class='dropdown-content'>
				<li><a href="#!"><i class="material-icons">edit</i>Definicion</a></li>
				<li><a href="#!"><i class="material-icons">edit</i>Caracteristica</a></li>
				<li><a href="#!"><i class="material-icons">edit</i>Relacion</a></li>
				<li><a href="#!"><i class="material-icons">delete</i>Eliminar</a></li>
			</ul>

		</div>

		<div class="collapsible-body">
			<div class="row">
				<div class="col s11">
					<app-definicion></app-definicion>
					<app-caracteristica></app-caracteristica>
				</div>
			</div>
			<app-relacion></app-relacion>
		</div>
	</li>
</ul>